%tr.nested-fields  
  %td
    = f.association :product, label: "商品"
  %td.col-sm-2
    =f.input :number, wrapper: :horizontal_form_button_group do
      %span.input-group-btn
        %button.btn.btn-white.btn-minuse{:type => "button", :onclick=> "number_minuse(this)"} -
      = f.input_field :number, class: "form-control",:maxlength => "2", :type => "text", :value => "1"
      %span.input-group-btn
        %button.btn.btn-red.btn-plus{:type => "button", :onclick=> "number_plus(this)"} +
  %td 
    = f.input :custom_price , label: "价格"
  %td
    = link_to_remove_association "删除", f

:javascript