-if user_signed_in?
  %li
    %a{:href => orders_path}
      %h5 订单管理
  -if current_user.try(:admin?)
    %li
      %a{:href => products_path}
        %h5 商品管理
    %li
      %a{:href => users_path}
        %h5 用户管理
  %li    
    %a{"data-method" => "delete", :href => destroy_user_session_path, :rel => "nofollow"}
      %h5 退出

-else  
  %li
    %a{:href => new_user_session_path}
      %h5 登陆